<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mech Store signup</title>
    <link th:href = "@{/css/signup.css}" rel="stylesheet">
</head>
<body>
    <form th:action="@{/login}" th:method="POST" th:object="${userForm}">
        <h2 class="title is-2">Welcome to <span>Mech Store</span></h2>
        <input class="input" type="text" placeholder="First Name" th:field="*{firstname}">
        <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
        <input class="input" type="text" placeholder="Last name" th:field="*{lastname}">
        <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
        <input class="input" type="text" placeholder="Username" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <input class="input" type="email" placeholder="Email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <input class="input" type="password" placeholder="Password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <input class="input" type="password" placeholder="Confirm password">
        <button class="button is-primary is-link">Sign up</button>
    </form>
</body>
</html>